/*
.book-content {


   height: calc(100vh - 12rem);
  width: 100%;
  overflow: hidden;
  outline: none;
  -webkit-column-width: 500rem;
          column-width: 500rem;
  -webkit-column-count: auto;
          column-count: auto;
  -webkit-column-gap: 6rem;
          column-gap: 6rem;
  -webkit-column-fill: balance;
          column-fill: balance;
  scrollbar-width: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

}


@media (min-width:992px){
.book-content {
        -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-width: inherit;
    column-width: inherit;
}}


*/